<div class="container__small-card">
  <div class="container__content__small-card">
    <div class="small-card__picture">
      <img src="{{newsImage}}" alt="notícia" srcset="">

    </div>
    <div class="content__small-card">
      <div class="small-card__title">
        <span>{{newsDate}}</span>
        <a [routerLink]="['content', Id]">
          <h1>{{newsTitle}}</h1>
        </a>
      </div>
      <div class="small-card__news">
        <a [routerLink]="['content', Id]">
          <p>{{newsDescription}}</p>
        </a>
      </div>
    </div>
  </div>
  <div class="small-card-separator">
    <hr>
  </div>
</div>