.container__content__small-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5rem;
}
.small-card__picture {
  max-width: 40%;
}

.container__content__small-card > .small-card__picture > img {
  border-radius: 0.5rem;
  width: 100%;
  object-fit: fill;
  box-shadow: 0px 2px 5px #000;
}

.small-card__title {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.small-card__title > a > h1 {
  font-weight: bold;
  font-size: 0.6rem;
}
.small-card__title > span {
  font-size: 0.5rem;
  font-weight: bold;
  color: #777777;
}
.content__small-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
  max-width: 57%;
}
.small-card__news > a > p {
  color: #555555;
  font-size: 0.6rem;
}

.small-card-separator {
  margin-top: 0.5rem;
}
